.meContent{

    font-size: 26px;
    font-family:'Monoton', cursive;
    margin:20px;

}
.nameTitle{

    font-family:'Monoton', cursive;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size:50px;
    margin:20px;
}
