.ContactInfo {
    list-style: none;
    text-align: left;
    font-family: 'Monoton', cursive;
    font-size: 20px;
}
.myContactsDiv{
  background-color:lightgoldenrodyellow;
  border-radius: 20px;
  margin-top: 30px;
}

.links {
    text-align: left;
}

.contactTitle {
    color: #37474f;
    margin-top: 30px;
    font-family: 'Monoton', cursive;
    font-style: italic;
    font-weight: bold;
   
    
}

.linkTitle {
    color: #37474f;
    margin-top: 30px;
    font-family: 'Monoton', cursive;
    font-style: italic;
    font-weight: bold;
   
}