

.backgroundCard{
    background-image: url("./background.jpg");
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:1024px){

    .backgroundCard{
        background-size:contain;
    }
}