.navBar {
  
  
  background-color:white;
  font-family:'Monoton', cursive;
  justify-content: space-around;
  font-size: 26px;
  font-weight: bold;
 
}

.nav-link{
  color: #37474f !important;
}
.active{
  background-color:lightgoldenrodyellow ;
}

@media (max-width:500px){
  .navBar {
    background-color:white;
    font-family:'Monoton', cursive;
    font-size: 14px;
    font-weight: bold;
    display: inline;
    border-radius: 4px;
  }
  .myNav >li{
    display: inline;
    border-radius: 4px;
  }
  
}

